@import url(https://db.onlinewebfonts.com/c/2d130488c7306881cf236b40ea2a1020?family=SB+Sans+Display+Semibold);

*{
	padding: 0;
	margin: 0;
}

#head_box{
	width: 1200px;
	display: flex; 
	justify-content: space-between;
}

header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#MainName, #org_type{
	margin-top: 4%;
	vertical-align:top;
	display: inline-block;
	color: rgb(22,51,105);
	font-size: 1.5em;
	font-family: "SB Sans Display Semibold";
	width: 80%;
}

#org_type{
	margin-top: 0%;
	font-size: 0.6em;
	hyphens: manual;
	width: 75%;
	color: black;
}

#logo{
	margin-top: 1%;
	height: 130px;
	display: inline-block;
}

#adress{
	margin-top: 1%;
	display: inline-block;
	width: 25%;
	text-align: right;
}

#header_menu{
	height: 45px;
	background: rgb(23,72,115);
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.header_a{
	cursor: pointer;
	color: white;
	text-decoration:none;
	font-size:0.95em;
	font-family: "SB Sans Display Semibold";
	line-height: 45px;
}

.header_li{
	display: inline-block;
	
}

#show_panel{
	height: 325px;
	max-width: 1160px;
	border-radius: 3px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.slide{
	position: relative;
	transition: all easy 1s;
	left: 0;
	top: 0;
	background: white;
}

#bottom_slide{
	height: 77px;
	max-width: 1160px;
	margin: 0 auto;
	background: rgb(250,250,250);
	display: flex;
}

.bot_menu_el{
	height: 65px;
	width: 190px;
	display: flex;
	font-size: 0.89em;
	padding-top: 10px;
	text-align: center;
	align-items: flex-start;
	display: inline-block;
}

.bot_menu_el:hover{
	background: white;
}

.SomeBlock{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}

#firstBLline{
	display: inline-block;
	padding: 45px;
	line-height: 50px;
	width: 770px;
	font-size: 1.9em;
	font-family: "SB Sans Display Semibold";
}
#secondBLline{
	display: inline-block;
	height: 100%;
	width: 560px;
	background: url("https://pos.gosuslugi.ru/bin/banner-fluid/18/banner-fluid-bg-18-2.svg");
}

#best_but{
	font-size: 0.7em;
	font-family: "SB Sans Display Semibold";
	height: 60px;
	width: 250px;
	border-radius: 5px;
	background: white;
	border: 0px;
}

#leftSection, #rightSection{
	height: 550px;
	width: 450px;
	display: inline-block;
}

#leftSection{
	background: white;
}

#rightSection{
	width: 690px;
	height: 550px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#NewsBox{
	width: 1160px;
	height: 550px;
	display: flex;
	justify-content: space-between;
}

.news_mini{
	width: 215px;
	height: 245px;
	background: white;
	box-shadow: 7px 11px 17px 0px rgba(0,0,0,0.02);
	position: relative;
}

.low_news{
	height: 280px;
	margin-top: 20px;
}

.news_mini:hover, .BigNews:hover{
	box-shadow: 4px 5px 13px 4px rgba(0,0,0,0.1);
	transition: all easy 1s;
}

.BigNews{
	display: flex;
	box-shadow: 7px 11px 17px 0px rgba(0,0,0,0.02);
}

.photoONE{
	display: inline-block;
	height: 400px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid green;
}

.photoCont{
	height: 135px;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	background-size: contain;
}

.photoNews{
	display: block;
	margin: 0 auto;
}

.textNews{
	line-height: 20px;
	font-size: 0.8em;
	padding: 0 10px 0 10px;
	font-family: "SB Sans Display Semibold";
}

.NewsDate{
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.7em;
	margin: 0 7px 4px 0;
}