@import url(https://db.onlinewebfonts.com/c/2d130488c7306881cf236b40ea2a1020?family=SB+Sans+Display+Semibold);

*{
	padding: 0;
	margin: 0;
}

#head_box{
	width: 1200px;
	display: flex; 
	justify-content: space-between;
}

header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#MainName, #org_type{
	margin-top: 4%;
	vertical-align:top;
	display: inline-block;
	color: rgb(22,51,105);
	font-size: 1.5em;
	font-family: "SB Sans Display Semibold";
	width: 80%;
}

#org_type{
	font-size: 0.6em;
	hyphens: manual;
	width: 7	5%;
	color: black;
}

#logo{
	margin-top: 1%;
	height: 130px;
	display: inline-block;
}

#adress{
	margin-top: 1%;
	display: inline-block;
	width: 25%;
	text-align: right;
}

#header_menu{
	height: 45px;
	background: rgb(23,72,115);
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.header_a{
	cursor: pointer;
	color: white;
	text-decoration:none;
	font-size:0.95em;
	font-family: "SB Sans Display Semibold";
	line-height: 45px;
}

.header_li{
	display: inline-block;
	
}

#show_panel{
	height: 325px;
	max-width: 1160px;
	border: 1px solid black;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
/*	overflow: hidden;*/
}

.slide{
	position: relative;
	transition: all easy 1s;
	left: 0;
	top: 0;
	background: white;
}